.citasRightContent {
  overflow-y: auto;
  padding: 0 !important;
  background: var(--subWindow);
  border-radius: 5px;
  height: 460px;
  /*padding-top: 10px;*/
}

#selectCitasProvider,
#selectCitasPatient {
  cursor: pointer !important;
  padding: 5px;
}

#apptNote {
  height: 141px !important;
}

.np-events {
  pointer-events: none !important;
}

.np-events * {
  opacity: 0.9;
}
